$color_1: #e9e9e9;
$color_2: #8c8c8c;
$color_3: #434343;
$color_4: #b1e1e1;
$color_5: #ff5757;
$color_6: #c4e8e8;
$color_7: #d9f1f1;
$color_8: #edf9f9;
$color_9: #f4fbfb;
$color_10: #d2d2d2;
$color_hover: #555555;
$clrWhite: #f4efef;
$clrHasError: #ffebee;
$clrIconSucces: #00c853;
$clrIconError: #e57373;