$SegoeUIRegular: "SegoeUIRegular", Arial, sans-serif;
$SegoeUIBold: "SegoeUIBold", Arial, sans-serif;
$SegoeUILight: "SegoeUILight", Arial, sans-serif;
$SegoeUISemiBold: "SegoeUISemiBold", Arial, sans-serif;
$SegoeUIItalic: "SegoeUIItalic", Arial, sans-serif;