.modal_container {
  padding: 30px 30px;
}
.important_title {
  color: $color_5;
}
.title_modal {
  font-size: 18px;
  font-family: $SegoeUISemiBold;
  text-transform: uppercase;
  .close {
    color: $color_3;
    &:hover {
      color: $color_2;
    }
  }
  hr {
    margin: 26px 0px 19px;
  }
}
.errors {
  color:$color_5;
}
textarea {
  resize: none;
}
.block_buttons {
  padding-top: 10px;
}
input {
  border-radius: 0px;
}
#auth_modal {
  .modal-dialog {
    width: 830px;
  }
  .title_block {
    font-family: $SegoeUIBold;
    font-size: 16px;
    padding-bottom: 15px;
    text-transform: uppercase;
  }
  .form_auth {
    label {
      font-family: $SegoeUIBold;
      font-size: 16px;
    }
    .buttons {
      padding-top: 20px;
    }
  }
  .descr_registration {
    p {
      margin-bottom: 5px;
    }
    padding-bottom: 30px;
  }
  .forgot_password {
    padding-top: 10px;
  }
}

#registration_modal {
  .modal-dialog {
    width: 430px;
  }
}
#modal_success_order {
  .modal-dialog {
    width: 430px;
  }
  .btn {
    padding: 10px 50px;
  }
}
#modal_order_oneclick {
  .modal-dialog {
    width: 430px;
  }
}
#modal_change_password {
  .modal-dialog {
    width: 430px;
  }
}