#order_page, #basket_list{
  .block_order {
    margin-top: 25px;
    margin-bottom: 150px;
  }
  .title {
    font-family: $SegoeUIBold;
    font-size: 18px;
  }
  .data_cart {
    border: 1px solid $color_1;
    padding: 24px 10px;
  }
  .results, .cart_product {
    font-size: 14px;
  }
  .cart_product {
    padding: 22px 0px;
    color: $color_3;
    p{
      margin-bottom: 0px;
    }
    .without_discount {
      text-decoration: line-through;
    }
    .with_discount {
      color: $color_5;
    }
    .img_prod {
      img{
        width: 100%;
      }
      .liked {
        position: absolute;
        top: 0px;
        left: 72%;
      }
    }
    .name_product {
      text-transform: uppercase;
    }
    .name_article {
      text-transform: uppercase;
    }
    .name_article, .title_prop, .edit_order>a {
      color: $color_2;
    }
    .edit_order{
      font-size: 12px;
      text-decoration: underline;
    }
  }
  .discount {
    color: $color_5;
  }
  .sum_with_disc {
    font-family: $SegoeUIBold;
  }
  .value_quantity {
    input {
      border: none;
      width: 18px;
    }
    .fa-plus-square-o {
        padding-left: 1px;
    }
  }
  .main_title {
    padding: 30px 30px;
    border: 1px solid $color_1;
    margin-bottom: 20px;
    .title_section_main {
      font-size: 18px;
      font-family: $SegoeUIBold;
      &.no_auth {
        padding-top: 10px;
      }
    }
    .buttons {
      button{
        margin-right: 30px;
      }
    }
  }
  .section_checkout {
    margin-bottom: 20px;
    .data_section {
      display: none;
    }
    &.open_section {
      .title_section {
        background-color: transparent;
      }
      .data_section {
        display: block;
      }
    }
  }
  .title_section {
    padding: 20px 30px;
    border: 1px solid $color_1;
    background-color: $color_1;
  }
  .data_section {
    border: 1px solid $color_1;
    border-top: none;
    padding: 20px 0px 10px 30px;
    .input_item {
      margin-bottom: 10px;
    }
    .block_title {
      padding-right: 0px;
      padding-top: 5px;
    }
    .form-control {
      height: 40px;
      border-radius: 0px;
    }
    .block_next_step {
      padding-top: 10px;
      a:hover {
        color: $color_2;
      }
    }
    .important_title {
      color: $color_5;
    }
    .small_letter_spacing {
      letter-spacing: -0.4px;
    }
    .block_checkboxes {
      margin-bottom: 20px;
    }
    .block_input {
      .form-control-feedback {
        top: 10px;
        right: 15px;
      }
      .fa {
        font-size: 18px;
      }
      .fa-close {
        color: $clrIconError;
      }
      .fa-check {
        color: $clrIconSucces;
      }
    }
    .has_error>.block_input {
      input {
        background-color: $clrHasError;
      }
    }
  }
  .order_results {
    margin-bottom: 20px;
    padding: 20px 30px;
    border: 1px solid $color_1;
    .row {
      margin-bottom: 5px;
    }
  }
  .button_order {
    border: none;
    p {
      margin-bottom: 0px;
    }
  }
  .img_arrow_right {
    background: #fff url(../../img/select-arrow-open.jpg) 100% center no-repeat;
  }
  .img_arrow_bottom {
    background: #fff url(../../img/select-arrow-close.jpg) 100% center no-repeat;
  }
}

#basket_list {
  .modal-dialog {
    width: 530px;
    margin-top: 40px;
    margin-right: 40px;
  }
  .cart_product {
    padding: 11px 0px;
  }
  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .cart_products_scroll {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 244px;
  }
  .addit_product {
    font-size: 14px;
    font-family: $SegoeUIBold;
  }
}
