//********ПАЛИТРА***************
$color_1: #e9e9e9;
$color_2: #8c8c8c;
$color_3: #434343;
$color_4: #b1e1e1;
$color_5: #ff5757;
$color_6: #c4e8e8;
$color_7: #d9f1f1;
$color_8: #edf9f9;
$color_9: #f4fbfb;
$color_10: #d2d2d2;
$color_hover: #555555;

//********ШРИФТЫ**************************
$SegoeUIRegular: "SegoeUIRegular", Arial, sans-serif;
$SegoeUIBold: "SegoeUIBold", Arial, sans-serif;
$SegoeUILight: "SegoeUILight", Arial, sans-serif;
$SegoeUISemiBold: "SegoeUISemiBold", Arial, sans-serif;
$SegoeUIItalic: "SegoeUIItalic", Arial, sans-serif;

html {
  overflow-y: scroll;
}

#art_body {
  padding-top: 42px;
  padding-right: 0 !important;
  /*BUTTONS*/
  .btn {
    border-radius: 10px;
    &:focus {
      outline: none;
    }
    &:active {
      -webkit-box-shadow: none;
    }
    &.btn_main {
      background-color: $color_4;
      &:hover {
        background-color: $color_6;
      }
      &:active {
        background-color: $color_7;
      }
    }
    &.btn_addit {
      background-color: #fff;
      border-color: $color_1;
      &:hover {
        background-color: $color_8;
      }
      &:active {
        background-color: $color_9;
      }
    }
  }
  .close {
    font-size: 18px;
    color: #3e3e3e;
  }
}
#art_body.not_fixed_top {
  padding-top: 0px;
  .top_menu {
    z-index: 1000;
  }
}
#main_top_menu.not_fixed_top {
  .top_menu {
    z-index: 1000;
  }
}

//********* HEADER ***********************
#main_top_menu {
  .navbar {
    min-height: 42px;
  }
  .top_menu {
    background-color: $color_3;
    font-family: $SegoeUILight;
    border: none;
    .topmenu_ul {
      font-size: 20px;
      text-transform: uppercase;
      margin-left: -22px;
      .li_nav_lvl_3 {
        padding-left: 5px;
      }
      .title_child {
        font-weight:bold;
        text-transform: uppercase;
      }
      li {
        a {
          color: $color_1;
          padding-top: 11px;
          padding-bottom: 11px;
        }
        .sale {
          color: $color_5;
        }
        &:hover {
          a.item_main {
            color: $color_4;
          }
          .nav_lvl_1 {
            position: fixed;
            display: block;
            left: 0px;
            width: 100%;
          }
        }
        a.item_main {
          padding: 11px 22px;
        }
      }
      .active_top_menu {
        color: $color_4;
      }
      .nav_lvl_1 {
        position: absolute;
        left: -9999px;
        background-color: $color_hover;
        color: $color_1;
        font-family: $SegoeUIRegular;
        font-size: 18px;
        opacity: 0.9;
        text-transform: none;
        padding-top: 18px;
        padding-bottom: 75px;
        li {
          padding-top: 6px;
          padding-bottom: 6px;
        }
        a {
          &:hover {
            color: $color_4;
          }
        }
        .open > a {
          background-color: transparent;
        }
        .dropdown-menu {
          background-color: transparent;
          border: none;
          box-shadow: none;
          font-size: 18px;
          li > a:hover {
            background-color: transparent;
          }
        }
        .base_top_menu {
          .title {
            font-size: 24px;
            text-transform: uppercase;
            &:hover,&:focus {
              text-decoration: none;
            }
            .title_icon {
              font-size: 24px;
            }
          }
        }
      }
    }
    .basket_topmenu {
      color: $color_1;
      font-family: $SegoeUIRegular;
      margin-right: 0px;
      .counter {
        width: 18px;
        height: 18px;
        line-height: 1;
        color: #3d3d3d;
        background-color: $color_4;
        border-radius: 0.4em;
        position: absolute;
        right: -0.2em;
        top: 0.39em;
        &.one_digit {
          padding: 0.13em 0.4em;
        }
        &.two_digit {
          padding: 0.13em 0.1em;
        }
      }
      .icon-heart_1 {
        font-size: 26px;
      }
      .icon-cart_1 {
        font-size: 26px;
      }
      .sum {
        padding-top: 10%;
        padding-left: 20px;
        font-size: 12px;
      }
      li > a {
        color: $color_1;
        padding: 10px 4px 1px 15px;
        &:hover {
          color: $color_4;
        }
      }
    }
  }
}

#main_header {
  .header_logo {
    margin-top: 28px;
    margin-bottom: 25px;
    font-family: $SegoeUIRegular;
  }
  .search {
    padding-top: 8px;
    .icon {
      border-radius: 10px;
      color: white;
      font-size: 23px;
      padding: 1px 1px 0px 3px;
      margin-top: 1%;
      position: absolute;
      left: 57.7%;
    }
    .btn{
      width: 33px;
      height: 33px;
    }
    .field_search {
      height: 38px;
      border-radius: 10px;
      border-color: $color_1;
      font-size: 14px;
      width: 190px;
    }
  }
  .phone {
    padding-top: 8px;
    font-size: 16px;
    line-height: 1.2em;
    color: $color_2;
    .font_bold {
      font-family: $SegoeUIBold;
    }
  }
  .user_data {
    padding-top: 8px;
    height: 38px;
    .data_user {
      border: 1px solid;
      border-radius: 10px;
      border-color: $color_1;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      display: inline-block;
      float: right;
      .user_text {
        display: inline-block;
        padding: 0px 10px;
        min-width: 160px;
        vertical-align: middle;
        a {
          margin: 0 auto;
          color: $color_2;
          &:hover {
            color: $color_4;
          }
        }
      }
    }
    .icon {
      width: 33px;
      height: 33px;
      border-radius: 10px;
      color: white;
      font-size: 20px;
      padding: 2px 4px 2px 3px;
      margin-right: 1px;
      margin-top: 2px;
      margin-bottom: 2px;
    }
  }
}

#main_second_menu {
  .main_second_menu {
    border-top: none;
    background-color: #f6f6f6;
    border-bottom-color: #e3e3e3;
    font-family: $SegoeUILight;
    font-size: 28px;
    .navbar-nav {
      margin-left: -8%;
      li > a {
        padding-left: 25px;
        padding-right: 25px;
        color: $color_2;
        &:hover {
          color: #434343;
        }
      }
      .active>a {
        background-color: transparent;

      }
    }

  }
}

#advantages {
  .row_advantages {
    font-family: $SegoeUIRegular;
    margin-bottom: 20px;
    margin-top: 20px;
    a {
      text-decoration: none;
      color: $color_2;
      &:hover {
        color: $color_3;
      }
      .text {
        line-height: 0.5em;
        padding-left: 0px;
        padding-top: 2px;
        font-size: 15px;
      }
    }
    .vert_line {
      width: 100%;
    }
    .delivery, .exchange, .return {
      .adv_img {
        padding-top: 3px;
        font-size: 20px;
        padding-left: 0px;
      }
    }
    .delivery {
      .text {
        padding-right: 20px;
      }
      .adv_img {
        padding-right: 30px;
      }
    }
    .exchange {
      .text {
        padding-right: 16px;
      }
      .adv_img {
        padding-right: 25px;
      }
    }
    .return {
      .text {
        padding-right: 11px;
      }
      .adv_img {
        padding-right: 10px;
      }
    }
  }
}

//********* FOOTER ***********************
#footer {
  footer {
    font-family: $SegoeUIRegular;
    padding-top: 50px;
    padding-bottom: 35px;
    background-color: $color_3;
    font-size: 14px;
    color: $color_1;
    a {
      color: $color_1;
      &:hover {
        color: $color_4;
      }
    }
    .title_footer {
      text-transform: uppercase;
      color: $color_2;
    }
    .text_with_margin_bottom {
      margin-bottom: 35px;
    }
    .info_footer {
      ul {
        margin-top: -4px;
      }
      li {
        padding: 4px 0px;
      }

    }
    .social {
      font-size: 24px;
      a {
        color: $color_2;
        padding: 0px 9px;
        &:hover {
          color: $color_4;
          text-decoration: none;
        }
        &:focus {
          text-decoration: none;
        }
      }
    }
  }
}

//********* CONTENT ***********************
#content {
  font-family: $SegoeUIRegular;
  font-size: 16px;
  label {
    font-weight: normal;
  }
  .checkbox + label {
    cursor: pointer;
  }
  .checkbox:not(checked) {
    position: absolute;
    opacity: 0;
  }
  .checkbox:not(checked) + label {
    position: relative;
    padding: 1px 0 0 27px;
    &:before {
      content: '';
      position: absolute;
      top: 2px;
      left: 0;
      width: 16px;
      height: 16px;
      border: 1px solid $color_2;
    }
  }
  .checkbox:checked + label:before {
    border:none;
    background-image: url("../img/checkbox_checked.jpg");
  }
  .checkbox_img:not(checked) + label {
    padding-left: 30px;
    padding-top: 0px;
    &:before {
      width: 24px;
      height:24px;
      top: -11px;
      border: 1px solid $color_2;
      background-image : inherit;
    }
  }
  .checkbox_img:checked + label:before {
    box-shadow: 0px 2px 10px 1px $color_3;
    background-image : inherit;
  }
  .container{
    margin-top: 20px;
  }
  .carousel {
    .carousel-indicators {
      bottom: 10px;
    }
    .carousel-control {
      text-shadow: none;
      color: white;
      span {
        position: absolute;
        top: 50%;
        font-size: 40px;
        margin-top: -20px;
      }
      .icon-left-arrow_thin {
        left: 2px;
      }
      .icon-right-arrow_thin {
        right: 2px;
      }
    }
  }
  .goods_main {
    margin-top: 30px;
  }
  .main_text {
    color: $color_3;
    h1,h2 {
      font-size: 30px;
    }
    line-height: 24px;
    padding-bottom: 55px;
    padding-top: 20px;
  }
  .catalog {
    padding-top: 30px;
    padding-bottom: 65px;
  }
  .div_checkbox_img {
    margin-bottom: 10px;
  }
  a {
      color: $color_3;
      &:hover {
        color: $color_4;
        text-decoration: none;
      }
    }
  .filter_title, .row_show_all {
      a:hover {
        color: $color_2;
      }
    }
  .path {
      font-size: 14px;
      i {
        padding: 0px 2px;
      }
      a:hover {
        color: $color_2;
      }
    }
  .category {
      font-size: 24px;
      .name_category {
        content: " ";
      }
      .count {
        font-family: $SegoeUILight;
      }
    }
  .show_all {
      font-family: $SegoeUIItalic;
      text-decoration: underline;
    }
  .top_line {
      hr {
        margin-bottom: 10px;
      }
    }
  .bottom_line {
      hr {
        margin-top: 10px;
      }
    }
  .list_products {
      margin-bottom: 110px;
      margin-top: 10px;
      a:hover, a:focus {
        text-decoration: none;
        color: $color_3;
      }
      .hover_active {
        .sale_new {
          z-index: 1;
        }
        .liked {
          z-index: 1;
        }
      }
      .row {
        margin-bottom: 40px;
      }
      .liked {
        position: absolute;
        top: 15px;
        right: 30px;
        font-size: 24px;
      }
      .product {
        background-color: white;
        color: $color_3;
        .img_catalog {
          height: 290px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .price {
          padding: 10px 0px;
          font-size: 20px;
          .without_discount {
            text-decoration: line-through;
          }
          .with_discount {
            margin-left: 20px;
            color: $color_5;
          }
        }
        .name_product {
          font-size: 14px;
          height:60px;
          .brand {
            font-family: $SegoeUIBold;
          }
          a:focus {
            text-decoration: none;
          }
        }
        .fast_view {
          display: none;
          padding-top: 15px;
          padding-bottom: 20px;
          background-color: $color_1;
          color: $color_3;
          &:hover {
            background-color: $color_3;
            color: $color_1;
          }
        }
        &:hover {
          position: absolute;
          top: -10px;
          left: 0;
          z-index: 1;
          margin: 0px 1px;
          box-shadow: 0px 3px 10px 5px #cdcdcd;
          .img_catalog {
            height: 300px;
          }
          .price {
            padding: 10px 14px;
          }
          .name_product {
            padding: 0px 14px 10px;
          }
          .fast_view {
            display: block;
          }
        }
      }
    }
  .sale_new {
    position: absolute;
    top: 5px;
    left: 10px;
    transform: rotate(-45deg);
    text-transform: uppercase;
    font-size: 24px;
    user-select: none;
    .sale {
      color: $color_5;
    }
    .new {
      color: $color_4;
    }
  }
  .liked .fa {
    color: $color_3;
    &:hover {
      color: $color_2;
    }
  }
  .show_all_bottom {

      .number_pages {
        display: inline-block;
        span {
          padding: 3px 7px;
        }
        i {
          font-size: 12px;
          padding: 0px 15px;
        }
        .active {
          text-decoration: underline;
        }
      }
      .show_all {
        display: inline-block;
        float: right;
      }
    }
  .filters {
      a:focus {
        text-decoration: none;
      }
      .filter.hide_filter{
        .filter_value {
          display: none;
        }
      }
      .filter_title {
        font-family: $SegoeUIBold;
        text-transform: uppercase;
        padding-bottom: 18px;
      }
      .filter_value {
        padding-bottom: 30px;
        font-size: 14px;
        #slider {
          margin-top: 30px;
          height: 5px;
          width: 230px;
          border: none;
          background-color: #e1e1e1;
          box-shadow: 0px 1px 1px 1px #b7b7b7 inset;
          .ui-widget-header {
            background-color: $color_4;
            background-image: none;
          }
          .ui-slider-handle {
            width: 25px;
            height: 25px;
            box-shadow: 0px 1px 1px 1px #b7b7b7 inset;
            border-radius: 12px;
            background-color: #f6f6f6;
            background-image: none;
            top: -0.5em;
            &:focus {
              outline: none;
            }
          }
        }
    }
    .btn_clear_filter {
      margin-right: 25px;
      color: $color_3;
    }
  }
  #ModalFastViewProduct, #ItemProduct {
    color: $color_3;
    .modal-dialog {
      width: 1010px;
    }
    .modal-content {
      min-height: 850px;
      padding: 20px 22px;
    }
    .props_block {
      line-height: 1.1;
    }
    .brand,.name_product,.value_props {
      font-family: $SegoeUIBold;
    }
    .similar_products,.recommend {
      .name_product {
        font-family: $SegoeUIRegular;
      }
    }
    .brand {
      font-size: 20px;
      margin-top: 0px;
    }
    .name_product {
      margin-bottom: 0px;
    }
    .main_props {
      margin-bottom: 10px;
    }
    .price {
      margin-top: 10px;
      font-size: 24px;
      color: #666666;
      .without_discount {
        text-decoration: line-through;
      }
      .with_discount {
        color: $color_5;
      }
    }
    .availability {
      font-size: $SegoeUIBold;
      display: inline-block;
      border: 1px solid $color_1;
      border-radius: 10px;
      padding:10px 10px ;
      color: $color_4;
    }
    .none {
      color: $color_5;
    }
    .colors {
      .checkbox_img:not(checked)+label:before {
        width:40px;
        height: 40px;
      }
      .checkbox_img:not(checked) + label {
        padding-left: 45px;
      }
      label {
        margin-bottom: 29px;
        margin-top: 16px;
      }
    }
    .size{
      margin-top: 10px;
      .name_props {
        margin-bottom: 5px;
      }
      a:focus,a:hover {
        color: inherit;
        text-decoration: none;
      }
      /*Начало ОФОРМЛЕНИЕ SELECT*/
      .dropcontainer {
        position: absolute;
        font-size: 18px;
        color: #777;
        width: 80px;
        z-index: 2;
        ul {
          font-size: 18px;
          border: 1px solid #ccc;
          border-top: none;
          background: #fff;
          list-style-type: none;
          padding: 0px;
          margin: 0;
          width: 50%;
          z-index: 100;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          li {
            a {
              padding: 12px 10px;
            }
            padding-bottom: 10px;
            padding-top: 10px;
            /*padding: 5px 10px;*/
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            &:hover {
              font-family: $SegoeUIBold;
              outline: none;
            }
          }
        }
      }
      .trigger {
        color: #777;
        padding: 7px 10px 6px 12px;
        font-size: 18px;
        width: 80px;
        background: #fff url(../img/select-arrow-open.jpg) 100% center no-repeat;
        display: block;
        border: 1px solid $color_1;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        &:hover {
        }
        &:last-child {
          border-bottom: none;
        }
      }
      .activetrigger {
        color: #777;
        padding: 7px 10px 6px 12px;
        font-size: 18px;
        width: 80px;
        background: #fff url(../img/select-arrow-close.jpg) 100% center no-repeat;
        display: block;
        border: 1px solid $color_1;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        &:hover {
        }
        &:active {

        }
      }
      .dropdownhidden {
        display: none;
      }
      .dropdownvisible {
        height: auto;
      }
      /*Конец*/
    }
    .quantity {
      margin-top: 10px;
      .name_props {
        margin-bottom: 5px;
      }
      .value_quantity {
        width: 120px;
        .input-group {
          border: 1px solid $color_1;
        }
        .input-number, button {
          height: 39px;
        }
        .input-number {
          padding: 6px 6px;
          height: 39px;
          border: none;
        }
        button {
          padding: 6px 16px;
          background-color: $color_1;
          border-color: $color_1;
          border-radius: 0px;
          &:focus {
            outline: none;
          }
          &:hover {
            background-color: $color_10;
          }
          &:disabled {
            &:hover {
              background-color: $color_1;
            }
          }
        }
      }
    }
    .buttons {
      .col-md-5 {
        padding-right: 0px;
      }
      .btn {
        font-size: 16px;
        color: $color_3;
        padding: 10px 12px;
        width: 100%;
      }
      .liked {
        font-size: 24px;
      }
      .liked_block {
        padding-top: 5px;
      }
    }
    .characteristics {
      margin-top: 20px;
      ul {
        border-color: $color_1;
        li {
          border-color: $color_1;
          margin-right: 10px;
          background-color: $color_1;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          a {
            margin-right: 0px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            &:hover {
              color: inherit;
            }
          }
        }
        li.active {
          background-color: white;
        }
      }
      .tab-content {
        padding-top: 10px;
      }
    }
    .images {
      .preview_img {
        margin-top: 10px;
        .slick-list {
          /*padding: 0 !important;*/
          .slick-slide {
            /*width:200px !important;*/
            padding: 0px 5px;
            border: 3px solid transparent;

            img {
              margin: 0 auto;
              &:focus {
                outline: none;
              }
            }
            &:focus {
              outline: none;
            }
          }
          .slick-active {
            border: 3px solid #b1e1e1;
          }
        }
      }
      .slick_navigation {
        font-size: 35px;
        position: absolute;
        top:35%;
        z-index: 1;
        background-color: $color_1;
        opacity: 0.5;
        color: $color_3;
        &.right {
          right:0%;
        }
        &.left {
          left:0%;
        }
        &:focus {
          text-decoration: none;
        }
        &:hover {
          color: $color_3;
          opacity: 0.8;
        }
      }
      .item_full_img {
        img {
          width: 100%;
        }
      }
    }
  }
  #ItemProduct {
    .item_product{
      margin-top:15px;
    }
    .privilege {
      background-color: $color_1;
      height: 800px;
    }
    .props_block {
      padding-right: 0px;
    }
    .tab-content {
      min-height: 180px;
    }
  }
  .similar_products,.recommend {
    .title {
      font-size: 24px;
    }
  }
  .similar_products {
    .list_products {
      margin-bottom: 40px;
    }
  }
  .sale_new {
    z-index: 1;
    top: 10px;
    left: 15px;
  }
}

//************ ОБРАТНАЯ СВЯЗЬ **************
#feedback {
  /*Кнопка*/
  #popup_toggle {
    bottom: 55vh;
    right: 5vw;
    position: fixed;
    .img-circle {
      background-color: $color_4;
      box-sizing: content-box;
      -webkit-box-sizing: content-box;
    }
    .circlephone {
      box-sizing: content-box;
      -webkit-box-sizing: content-box;
      border: 2px solid $color_4;
      width: 140px;
      height: 140px;
      bottom: -25px;
      right: 10px;
      position: absolute;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      opacity: .5;
      -webkit-animation: circle-anim 2.4s infinite ease-in-out !important;
      -moz-animation: circle-anim 2.4s infinite ease-in-out !important;
      -ms-animation: circle-anim 2.4s infinite ease-in-out !important;
      -o-animation: circle-anim 2.4s infinite ease-in-out !important;
      animation: circle-anim 2.4s infinite ease-in-out !important;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -o-transition: all .5s;
      transition: all 0.5s;
    }
    .circle-fill {
      box-sizing: content-box;
      -webkit-box-sizing: content-box;
      background-color: $color_4;
      width: 90px;
      height: 90px;
      bottom: 0px;
      right: 35px;
      position: absolute;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      border: 2px solid transparent;
      -webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;
      -moz-animation: circle-fill-anim 2.3s infinite ease-in-out;
      -ms-animation: circle-fill-anim 2.3s infinite ease-in-out;
      -o-animation: circle-fill-anim 2.3s infinite ease-in-out;
      animation: circle-fill-anim 2.3s infinite ease-in-out;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -o-transition: all .5s;
      transition: all 0.5s;
    }
    .img-circle {
      box-sizing: content-box;
      -webkit-box-sizing: content-box;
      width: 62px;
      height: 62px;
      bottom: 14px;
      right: 49px;
      position: absolute;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      border: 2px solid transparent;
      opacity: .7;
    }
    .img-circleblock {
      box-sizing: content-box;
      -webkit-box-sizing: content-box;
      width: 62px;
      height: 62px;
      background-image: url(../img/phone1.png);
      background-position: center center;
      background-repeat: no-repeat;
      animation-name: tossing;
      -webkit-animation-name: tossing;
      animation-duration: 1.5s;
      -webkit-animation-duration: 1.5s;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
    }
    .img-circle:hover {
      opacity: 1;
    }
    @keyframes pulse {
      0% {
        transform: scale(0.9);
        opacity: 1;
      }
      50% {
        transform: scale(1);
        opacity: 1;
      }
      100% {
        transform: scale(0.9);
        opacity: 1;
      }
    }
    @-webkit-keyframes pulse {
      0% {
        -webkit-transform: scale(0.95);
        opacity: 1;
      }
      50% {
        -webkit-transform: scale(1);
        opacity: 1;
      }
      100% {
        -webkit-transform: scale(0.95);
        opacity: 1;
      }
    }
    @keyframes tossing {
      0% {
        transform: rotate(-8deg);
      }
      50% {
        transform: rotate(8deg);
      }
      100% {
        transform: rotate(-8deg);
      }
    }
    @-webkit-keyframes tossing {
      0% {
        -webkit-transform: rotate(-8deg);
      }
      50% {
        -webkit-transform: rotate(8deg);
      }
      100% {
        -webkit-transform: rotate(-8deg);
      }
    }
    @-moz-keyframes circle-anim {
      0% {
        -moz-transform: rotate(0deg) scale(0.5) skew(1deg);
        opacity: .1;
        -moz-opacity: .1;
        -webkit-opacity: .1;
        -o-opacity: .1;
      }
      30% {
        -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .5;
        -moz-opacity: .5;
        -webkit-opacity: .5;
        -o-opacity: .5;
      }
      100% {
        -moz-transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .6;
        -moz-opacity: .6;
        -webkit-opacity: .6;
        -o-opacity: .1;
      }
    }
    @-webkit-keyframes circle-anim {
      0% {
        -webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
        -webkit-opacity: .1;
      }
      30% {
        -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
        -webkit-opacity: .5;
      }
      100% {
        -webkit-transform: rotate(0deg) scale(1) skew(1deg);
        -webkit-opacity: .1;
      }
    }
    @-o-keyframes circle-anim {
      0% {
        -o-transform: rotate(0deg) kscale(0.5) skew(1deg);
        -o-opacity: .1;
      }
      30% {
        -o-transform: rotate(0deg) scale(0.7) skew(1deg);
        -o-opacity: .5;
      }
      100% {
        -o-transform: rotate(0deg) scale(1) skew(1deg);
        -o-opacity: .1;
      }
    }
    @keyframes circle-anim {
      0% {
        transform: rotate(0deg) scale(0.5) skew(1deg);
        opacity: .1;
      }
      30% {
        transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .5;
      }
      100% {
        transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .1;
      }
    }
    @-moz-keyframes circle-fill-anim {
      0% {
        -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2;
      }
      50% {
        -moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);
        opacity: .2;
      }
      100% {
        -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2;
      }
    }
    @-webkit-keyframes circle-fill-anim {
      0% {
        -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2;
      }
      50% {
        -webkit-transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .2;
      }
      100% {
        -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2;
      }
    }
    @-o-keyframes circle-fill-anim {
      0% {
        -o-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2;
      }
      50% {
        -o-transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .2;
      }
      100% {
        -o-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2;
      }
    }
    @keyframes circle-fill-anim {
      0% {
        transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2;
      }
      50% {
        transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .2;
      }
      100% {
        transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2;
      }
    }

  }

  #feedbackModalBox {
    font-family: $SegoeUIRegular;
    font-size: 16px;
    color: $color_3;
    .modal-dialog {
      margin-top: 50px;
    }
    img {
      margin-top: 35px;
    }
    form {
      margin-top: 30px;
    }
    textarea {
      resize: none;
      height: 80px;
    }
    .title {
      text-transform: uppercase;
      margin-top: 30px;
      margin-bottom: 30px;
      font-family: $SegoeUISemiBold;
      font-size: 18px;
    }
    .btn {
      font-size: 16px;
      background-color: $color_4;
      border-color: $color_4;
      border-radius: 10px;
    }
    .label_feedback {
      padding-left: 40px;
    }
    .close {
      margin-top: 32px;
    }
    .btn_requestcall:hover {
      background-color: $color_6;
    }
  }
}