#art_body {
  padding-top: 70px;
}

//********* HEADER ***********************
#main_top_menu {
  .top_menu {
    background-color: #3d3d3d;
    font-family: "SegoeUILight" , Arial, sans-serif;
    color: #e0dcdc;
    .topmenu_ul {
      font-size: 20px;
      li {
        a {
          text-transform: uppercase;
          color: #e0dcdc;
        }
        .sale {
          color: #ff5757;
        }
        &:hover{
            background-color: #5c5c5c;
        }
      }
      .active_top_menu {
        background-color: #5c5c5c;
      }
      .nav_lvl_1 {
        display: none;
      }
    }

  }
}